html{
    font-family: Arial;
}

#header{
    background-color : green;
    text-align: center;
    color: white;

}
#tableauProduit{

    margin: auto;
    border: solid;
}
th{
    border: solid;
}
th, td {
  padding: 15px;
  text-align: center;}

tr:nth-child(even) {background-color: #f2f2f2;}

#formAjout{
    text-align: center;
}
#footer{
    text-align: center;
}



