{% load static %} <!-- Importation du dossier static -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href = "{% static "style.css" %}">
</head>
<body>

    <div id="header"><h1 >Mang'Ahmed</h1></div>

     <!-- accueil des html "enfants" dans la page -->
        {% block content %}
 <div>
        <a href= {% url "afficher_produit" %}>Afficher les produits</a>
    </div>
    <div>
        <a href={% url "ajouter_produit" %}>Ajouter un produit</a>
    </div>

        {% endblock %}

    </div>

    <div id="footer"><h3 >Crée par Ahmed</h3></div>


</body>
</html>