{% extends "index.html" %} <!-- déclaration d'héritier de la page index -->
{% block content %}
    <div id="contenu"><h2 >Liste des produits :</h2></div>
    <table id = tableauProduit>
      <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Prix</th>
  </tr>
     {% for produit in Produits %} <!--creation d'une boucle afin d'afficher tout les produits dans la BDD -->

  <tr>
    <td>{{ produit.nom }}</td>
  <td>{{ produit.description }}</td>
  <td>{{ produit.prix }}</td>

  </tr>

        {% endfor %}
</table>

{% endblock %}